@font-face {
  font-family: 'beaufort';
  src: url(../public/font/BeaufortforLOL-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'beaufortBold';
  src: url(../public/font/BeaufortforLOL-Bold.ttf) format('truetype');
}

.app{
  margin: 0 auto;
}

h1, h2 {
  font-family: 'beaufortBold', sans-serif;
  background: -webkit-linear-gradient(-90deg, #F0E6D2, #C8AA6E,#C8AA6E, #C89B3C, #785A28);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  font-family: 'beaufort', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px; 
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 67%;
  z-index: 5;
  animation: fadeIn 2s ease-in-out;
}

button:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

button:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.card{
  position: relative;
}

.card .front{
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}

.flipped .front{
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card img{
  width: 250px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.victory-img, .defeat-img{
  width: 50%;
  z-index: 5; 
  animation: fadeIn 2s ease-in-out;
  position: absolute;
  top: 5%;
}




.victory, .defeat {
  display: flex;
  justify-content: center;
  
  
}

.victory::before, .defeat::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(20%);
  z-index: 4;
  animation: fadeIn 2s ease-in-out;
}